<!doctype html>
<html>
<head>
  <title>List of todo</title>
  <meta charset="UTF-8" />
  <link rel='stylesheet' href='common.css'/>
</head>

<body>
  <h1>List of all tasks</h1>
  <table class='todo'>
    <thead>
      <tr><th>Due date<th>What to do<th>Category<th>Done?<td></tr>
    </thead>
    <tbody>
      {{#each tasks}}
      <tr><td>{{due}}<td>{{what}}<td>{{category}}<td>{{done}}
          <td><a href="/edit.html?id={{id}}">edit</a>
          <form class='inline' action="/delete" method="post">
            <input type='hidden' name='id' value='{{id}}'>
            <button>delete</button>
          </form>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <p><a href="/add.html">Add a todo</a></p>
</body>
</html>
