<!doctype html>
<html>
<head>
  <title>Lecture list</title>
  <meta charset="UTF-8" />
  <link rel='stylesheet' href='/common.css'/>
  <style>
    span.code { font-weight: bold; color: green; }
    span.title { font-weight: bold; }
  </style>
</head>

<body>
  <p>Here are the found lectures in semester {{semester}} of {{acadYear}}.</p>
  <ul id='lectures'>
    {{#each courses}}
    <li><span class='code'>{{code}}</span>
        <span class='title'>{{title}}</span>
      <ul>
        {{#each lectures}}
        <li>{{dowName}} {{start}}-{{end}}. Room: {{room}}
          {{#if lab}}
          (lab)
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</body>
</html>
